
<div class="d-flex align-items-center flex-column justify-content-center h-100 home-bg">
  <section class="info justify-content-center align-items-center">
     <h1 class="cover-heading text-center display-1">Omega Blog</h1>
      <p class="lead"> Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead text-center">
        <%= link_to 'Sign Up', signup_path, class: 'btn btn-lg btn-secondary' %>
      </p>
      <p class="text-center home-links">
        <%= link_to 'Omega Blog', articles_path, class: 'home-links' %> | <%= link_to 'About', about_path, class: 'home-links' %>
      </p>
  </section>
</div>
 <!--<main role="main" class="inner cover">-->
 <!--  <section class="info">-->
     
 <!--   </section>-->
 <!-- </main>-->




 