@import "bootstrap";


$rose: #E2A8B2;
$red: #C5545A;
$rose-brown: #C4A094;

body,html {
  height: 100%;
}
body {
  background-color: #EFEBE2;
  padding-top: 65px;
  color:  #3E3E3E;
}

.bg-rose {
  background-color: $rose;
}

#logo {
  color: $red;
  // text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 2em;
  // font-size: 25px;
  font-family: 'Great Vibes', cursive!important;
  // text-shadow: 1px 1px 2px #000000;
}
.home-bg {
  background-image: asset-url('blog.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show-bg {
  background-image: asset-url('blog.jpg');
  background-size: cover;
  background-repeat: repeat;
  // opacity: 0.3;
}
h1, h2, h3, h4 {
  font-family: 'Great Vibes', cursive!important;
  color: $red;
}
.btn {
  background: $rose;
}
.btn:hover {
  background: $rose-brown;
}

.cat-style {
  font-weight: bold;
}
.home-links {
  color: $rose-brown;
  a:hover {
    color: $red;
  }
}

.footer-container {
  background: $rose-brown !important;
  background-size: cover;
}

.index-container {
  margin-top: 40px;
}

td a {
  color: $red;
  a:hover {
    color: $rose-brown;
  }
}
td a:hover {
  color: $rose-brown;
}

.a-link {
  color: $rose-brown;
  padding-bottom: 10px;
}

.article-link {
  color: $red;
}
.article-link:hover {
    color: $rose !important;
  }
  .article-title {
    font-size: 1.3em;
    margin-top: 8px;
  }

.new-container {
  margin-top: 40px;
}
.new-container1 {
  margin-top: 4px;
}
.btn-lg {
  background: $rose;
}
// .info {
//   margin-top: 250px;
// }
.card-danger {
  background: $rose;
}

::placeholder {
  color: $rose;
}
.form-control::-moz-placeholder {
  color: $rose;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: $rose;
}
.form-control::-webkit-input-placeholder {
  color: $rose;
}
/* My styles */
.form-control::placeholder {
  font-weight: 500;
}

.listing {
  list-style: none;
}
.card {
  background-color: #F1EFED !important;
  color: $rose;
  a {
    color: $red;
  }
}
.rounded-circle {
  img: 120px;
}
.pagination {
  color: $red;
}

.form-inline {
  
}

.icon {
  font-size: 18px;
}

.input_checkbox input {
  width: auto !important;
}
.badge a {
  color: $red;
}
button {
  background: $rose;
  border-radius: 50%;
  border: 2px solid $rose-brown;
}

// #EAD3D7

// #FFECEC